$max-width-l: 960px;
$max-width-m: 820px;
$max-width-s: 600px;
$max-width-xs: 450px;
$min-width: 320px;
$main-font: sans-serif;
$accent-color: #BF4630;
$grey-color: rgba(0, 0, 0, 0.2);
$link-color: rgb(0, 121, 190);
