@import '../../../styles/vars';

.calendar__month {
  margin-bottom: 3em;
}
.calendar__month-name {
  margin-bottom: 0.5em;
}
.calendar__list-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
  grid-gap: 1em;
  li {
  	background: $grey-color;
  	&:first-child {
  	  grid-column-start: 3;	  
  	}
  }
}
