
.day__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
}
.day__container {
	display: flex;
	justify-content: space-between;
}
.day__list-time {
	width: 10%;
	li {
		margin-bottom: 3.5em;
	}
}
.day__list-things {
	width: 80%;
}