@import '../../../styles/vars';
.thing-of-day {
	background: $grey-color;
	border-radius: 14px;
	padding: 1em;
	margin-bottom: 1px;
}
.thing-of-day__list-points {
	list-style: disc;
	margin-left: 2em;
	margin-top: 0.5em;
	.point {
		font-size: 1.1em;
		margin-bottom: 0.4em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
